@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* color variables */
  --main-color: #FCF8E8;
  --green-color: #94B49F;
  --pink-color: #ECB390;
  --red-color: #DF7861;
  /* font variables */
  --ff-primary: 'Montserrat', sans-serif;
  --fw-skinny: 200;
  --fw-reg: 400;
}
body {
  background-color: #c4c1e0;
  font-family: var(--ff-primary);

}
#wrapper {
  /* background-color: #fdffcd; */
  background-color: var(--main-color);
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: auto;
}

#quote-box {
  width: 500px;
  background-color:var(--pink-color);
  padding: 10px;
  border-radius: 1em;
  z-index: 1;
  max-height: 500px;
  padding: 15px;
}
#text {
  font-size: 2em;
  font-weight: var(--fw-skinny);
  color: var(--main-color);
}
#author {
  font-size: 1.2em;
  font-weight: var(--fw-reg);
  color: var(--green-color);
}
.button-area {
 display: flex;
 justify-content: end;
}
.button {
  font-size: 1.2em;
  font-family: var(--ff-primary);
  color: var(--main-color);
  background-color: var(--red-color);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border-style: none;
  transition: transform 200ms ease-in-out;
  line-height: 75px;
}
.button:hover {
  transform: scale(1.05);
  border: solid 2px var(--main-color)
}
.bird {
  height: 45px;
  vertical-align: middle;
}
.shift {
  position: relative;
  left: 14px;
}
.background-box {
  background-color: var(--green-color);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  width: 300px;
  height: 500px;
  position: absolute;
  z-index: 0;
}
/* Phone Screens */
@media all and (max-width: 550px) {
  body {
    max-height: 100vh;
  }
  #quote-box {
    width: 90%;
    min-width: 300px;
  }
  .background-box {
    width: 54%;
    min-width: 180px;
    height: 90%;
    clip-path: polygon(30% 0, 100% 0, 70% 100%, 0% 100%);
  }
  #text {
    font-size: 1.5em;
  }
}